#game-container {
  display: grid;
  grid-template-columns: repeat(7, 60px);  /* 7 colonnes de 60px */
  grid-template-rows: repeat(4, 80px);     /* 4 lignes de 80px */
  gap: 8px;
  width: max-content;
  margin: 20px auto;
  background-color:blueviolet;
  border: 8px solid blueviolet; 
}

.card {
  width: 60px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}
.card.backface {
  background-color: gray;   /* dos grisé */
  filter: grayscale(100%);
  cursor: default;
}
#scoreList {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  background-color: #f8f9fa;
  border: 2px solid #007bff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: #333;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#scoreList div {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

#scoreList div:last-child {
  border-bottom: none;
}